h2{
color:rgb(20, 24, 235);
text-align: center;
font-family:Georgia, 'Times New Roman', Times, serif; 
font-size: 30px; 
}
h3{
 color:mediumvioletred;
 text-align: center;
 font-size: 22px; 
}
 li {
    font-family: bold;
    color: blue;
    font-size: 18px;
}
h4{
    color: blue;
}
.header {
    background-color: aqua;
    margin: 20px 300px;
    width: 20%
    letter-spacing:5px;
    padding:10px;
    font-size:40px;
    border:3px solid firebrick;
    border-radius: 10px;
    color:red;
}
.list li {
    font-size: 25px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    color:rgb(20, 24, 235);
} 

div {
    width: 100%
}
.copy{
    color:tomato;
}
#rad{
    font-family: cursive;
    color:rgb(207, 9, 52);
    opacity: transparent;
    font-size:25px;
}
span{
    font-size: 30px;
    font-family: monospace;
    color:rgb(219, 121, 9);
}
.text{
    opacity: tranparent;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
}

